$background-colors: (
    background-primary: #E5E8E8,
    background-secondary: #333333,
    background-alternative: #111111,
    background-dark: #000000,
);

$text-colors: (
    text-primary: #363535,
    text-secondary: #D4AC0D,
    text-alternative: #E5E8E8, 
    text-dark: #000000
);

$text-size: (
    text-large: 6.2em,
    text-medium: 2.2em,
    text-base: 1.6em,
    text-small: 1.4em,
    text-mobile: 0.7em,
);

$form-colors: (
    secondary: #D4AC0D
);